{% extends 'base.html' %}
{% block content %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style3.css">

  </div class= "container">
   <h1><center>Links to my social media/Enlaces a mis redes sociales: </center></h1>
   </ol>


<html lang="en">
  <head>
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Medallo.jpg')}})
      }
    </style>
  </head>

<h20>My/Mi GitHub</h20> <h21>- GitHub is where I keep all my public repositories of Python projects.</h21><h21><a href="{{ url_for('downloadable_files')}}"">Links to downloadable projects.</a></h21>

<div class="col align-self-start">
      <a href="https://github.com/ViggoMode2021">
         <img src="static/images/GitHub.jpg" width="150">
       </a>
    </div>

        <br/><br/>

<h20>My/Mi LinkedIn</h20> <h22>- LinkedIn is my virtual résumé essentially.</h22>

    <div class="col align-self-center">
      <a href="https://www.linkedin.com/in/ryan-viglione-6602628a/">
         <img src="static/images/Linkedin.png" width="150">
       </a>
    </div>

      <br/><br/>

<h20>My/Mi Teachers Pay Teachers</h20> <h22>- Teachers Pay Teachers contains some of my lesson plans and educational resources for purchase.</h22>

      <div class="col align-self-center">
      <a href="https://www.teacherspayteachers.com/Store/Ryans-Spanish-Resources">
         <img src="static/images/TPT.png" width="150">
       </a>
    </div>

</html>

</html>

{% endblock %}
