{% extends 'base.html' %}
{% block content %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style3.css">

  </div class= "container">
   <h1><center>Links to some of my social media: </center></h1>
   </ol>


<html lang="en">
  <head>
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Medallo.jpg')}})
      }
    </style>
  </head>

<div class="col align-self-start">
      <a href="https://github.com/ViggoMode2021">
         <img src="static/images/GitHub.jpg" width="150">
       </a>
    </div>

        <br/><br/>

    <div class="col align-self-center">
      <a href="https://www.linkedin.com/in/ryan-viglione-6602628a/">
         <img src="static/images/Linkedin.png" width="150">
       </a>
    </div>

      <br/><br/>

      <div class="col align-self-center">
      <a href="https://www.teacherspayteachers.com/Store/Ryans-Spanish-Resources">
         <img src="static/images/TPT.png" width="150">
       </a>
    </div>

</html>


</html>


{% endblock %}

