{% extends 'base.html' %}
{% block content %}

<html lang="en">
  <head>
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Xochimilco.jpg')}})
      }
    </style>
  </head>

<a href='https://www.sporcle.com/games/ryansviglione/los-adjetivos-fsicos'><button type="button" class="btn btn-primary">Physical adjectives game</button>

  <a href='https://www.sporcle.com/games/ryansviglione/los-adjetivos-de-la-personalidad'><button type="button" class="btn btn-secondary">Physical adjectives game</button>

</html>

{% endblock %}
