{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<html lang="en">
  <head>
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Openbook.jpg')}})
      }
    </style>
  </head>

<iframe width="560" height="315" src="https://www.youtube.com/embed/LroO1T5SBec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/QPvmmKXQAhs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/tCNjkavz67w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/gJhdlB4pMgw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</html>

{% endblock %}
