{% extends 'base.html' %}
{% block title %}{{title_perfect}}{% endblock %}

{% block content %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style_hablo.css">

<html lang="en">
  <head>
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Bolivia.jpg')}})
      }
    </style>
  </head>



  <h1>Here were your answers:</h1>

         <ul>
        {% for answer in verb_answers %}
           <li>{{ verb_answers }}</li>
              {% endfor %}
       </ul>

  <h1>Here is the answer key:</h1>
  <h6>Hoy es martes, el dos de noviembre.    -------   Today is Tuesday, the second of November.</h6>
  <h6>Son las siete de la noche. ---------  It is 7:00 at night.</h6>
  <h6>Me gusta usar la computadora. ----------   I like to use the computer.</h6>
    <br/><br/>



<audio controls>
    <source src="\static\uno_escuchar.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<audio controls>
    <source src="\static\dos_escuchar.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

  <audio controls>
    <source src="\static\tres_escuchar.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

{% endblock %}
