{% extends 'base.html' %}
{% block title %}{{title_perfect}}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style_perfect_score_tres.css"> #####need to make!!!

    <div class= "container">
          <h1>You got a perfect score! ¡Felicidades!</h1>
          <hr class="rounded">
        <h2>Here is the answer key: </h2>
            <br/><br/>
         <h5>#1 is 'es', #2 is 'voy', #3 is 'estudiamos', #4 is 'habla', #5 is 'leen'.</h5>
            <br/><br/>

{% endblock %}
