{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style3.css">

    </div class= "container">
      <h17><center>Practice Spanish </center></h17>
      <h7><center>Practicar español</center></h7>
          <body>

          <html lang="en">
  <head>
 <style>
    body
    {
     background-image:url("/static/images/Notebook.jpg");
     background-attachment: fixed;
     }
</style>
  </head>

    <center>
  <div class="container">
  <div class="dropdown text-right">
  <div class="dropdown btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select a study topic
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('verbos')}}"">Verbos (verbs) 🏃</a></li>
      <li><a href="{{ url_for('adjetivos')}}"">Adjetivos (adjectives) 📚</a></li>
      <li><a href="{{ url_for('sustantivos')}}">Sustantivos (nouns) 🏘️</a></li>
      <li><a href="{{ url_for('Cultura')}}">Cultura (culture) 🗺💃🏼🕺🏽</a></li>
        <li><a href="{{ url_for('diccionario')}}">Diccionario (dictionary) 📙</a></li>


    </ul>
  </div>
</div>
    <left>
  <div class="dropdown text-left">
  <div class="dropdown btn-group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Website practice problems
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('formularios')}}">problemas de números (number problems) #️⃣</a></li>
      <li><a href="{{ url_for('problemas_de_verbos')}}"">problemas de escuchar (listening problems) 👂</a></li>
        <li><a href="{{ url_for('llenar_los_espacios')}}"">llenar los espacios -verbos ✒️️</a></li>

    </ul>
  </div>
</div>

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>¡Hola!</h1>
    <h29>Responde a la pregunta abajo para recibir un cumplido gratis (free compliment) en español.</h29>

    <form action="/greet">
        <label>¿Cómo te llamas? Me llamo <input type="text" name="person"></label>
        <input type="submit">
    </form>
</body>

        <br/><br/>

        <br/><br/>

        <br/><br/>

<h44>Please click the drop-down menu above in order to navigate to the page that contains the topic you desire. From there, you will find
buttons that will link you to resources that I created to help practice your Spanish!</h44>
</html>

                  <br/><br/>
                   <h46><a href="https://www.geeksforgeeks.org/using-matplotlib-for-animations/"">Link to how I learned how to make the graph below.</a></h46>
        <br/><br/>
          <IMG SRC="/static/images/languages.gif">

{% endblock %}
