

h30{
    color: red;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    right: 90px;
    top: 270px;
    font-size: clamp(1rem, 5vw, 1rem);
}

h31{
    color: black;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    left: 90px;
    font-size: clamp(1rem, 5vw, 1rem);
}

h32{
    color: red;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    left: 90px;
    text-decoration: underline;
    font-size: clamp(1rem, 5vw, 1rem);
}

h33{
    color: black;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    right: 90px;
    text-decoration: underline;
    font-size: clamp(1rem, 5vw, 1rem);
}

h34{
    color: blue;
    font-size: 30px;
    font-family: "Gill Sans", "sans-serif", monospace;
    position: absolute;
    top: 90%;
    left: 40%;
    font-size: clamp(1rem, 5vw, 1rem);
}

label3{
    color: yellow;
    font-size: 25px;
    background-color: black
    font-size: clamp(1rem, 5vw, 1rem);
}

input[type=submit] {
      padding: 5px 15px;
      background: #99e0b2;
      border: 0 none;
      cursor: pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
}

label4{
    color: green;
    font-size: 25px;
    background-color: black
}

input[type=submit] {
      padding: 5px 15px;
      background: #99e0b2;
      border: 0 none;
      cursor: pointer;
      -webkit-border-radius: 5px;
      border-radius: 5px;
}

h40{
    color: red;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    right: 90px;
    top: 270px;
    left: 90px;
    font-size: clamp(1rem, 5vw, 1rem);
}

h41{
    color: black;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    right: 90px;
    top: 270px;
    font-size: clamp(1rem, 5vw, 1rem);

}

h42{
    color: red;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    right: 90px;
    text-decoration: underline;
    font-size: clamp(1rem, 5vw, 1rem);
}

h43{
    color: black;
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    left: 90px;
    text-decoration: underline;
    font-size: clamp(1rem, 5vw, 1rem);
}
