h1{
    color: black;
    font-size: 30px;


}

h4{
    color: purple;
    font-size: 20px;


}

h7{
    color: black;
    font-size: 30px;


}

h20{
    color: white;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color:black
}
