h7{
    color: red;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

h4{
    color: purple;
    font-size: 20px;
}

h15{
    color: blue
    font-size: 15px;
}

h17{
    color: orange;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

h20{
    color: white;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color:black
}

h21{
    color: pink;
    font-size: 12
    font-style: italic;
    background-color:black
}

h22{
    color: pink;
    font-size: 15
    font-weight: bold;
    background-color:black
}

h29{
    color: blue;
    font-size: 25;
    font-weight: bold;
}

h44{
    color: purple;
    font-size: 30;
    font-weight: bold;
}

h46{
    color: purple;
    font-size: 25;
    font-weight: bold;
    background-color: black;

}

myHeader{
    position: absolute;
    left: 150px;
}
