h1{
    color: red;
    font-size: 75px;
    text-decoration: underline


}

h2{
    color: green;
    font-size: 45px;
    font-family: Lucida Console, Courier New, monospace


}

h3{
    color: black;
    font-size: 15px;


}

h4{
    color: black;
    font-size: 15px;


}

h5{
    color: black;
    font-size: 15px;


}

h6{
    color: black;
    font-size: 15px;

}

body{
    background: lightblue;

}
