{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class= "container">
      <h1>Hello, you can subscribe here to receive updates, however, the subscribe function is currently under construction. Sorry, thank you for understanding. Database - SQLAlchemy.
              <br/><br/>
            Hola, Puede subscribirse aquí para recibir actualizaciones, sin embargo, la función de suscribirse está de obras. Lo siento, gracias por entender. Base de datos - SQLAlchemy.</h1>
    </div>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/subscribe_style.css">

    <br/><br/>

    <form action="/form" method="POST">
  <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail/Correo Electrónico"
     name ='email' style="width: 220px;">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First name/Nombre"
     name ='first_name' id="f_name" style="width: 180px;">

  </div>

  <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last name/Apellido"
     name ='last_name' style="width: 200px;">
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>

          <img src="static/images/Branford.jfif" width="300"

          <br/><br/>

          <h5>Branford, CT - My hometown/My ciudad natal</h5>

{% endblock %}
