{% extends 'base.html' %}
{% block content %}

<html lang="en">
  <head>
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Cajas.jpg')}})
      }
    </style>
  </head>

<a href='https://www.sporcle.com/games/ryansviglione/los-pasatiemposverbos-hobbiesverbs'><button type="button" class="btn btn-primary">Hobbies and activities game</button>

  <a href='https://www.sporcle.com/games/ryansviglione/ser-vs-estar-practice-quiz'><button type="button" class="btn btn-warning">Ser vs estar game</button>


</html>

{% endblock %}
