h1{
    color: black;
    font-size: 35px;


}

h2{
    color: white;
    font-size: 25px;


}

h3{
    color: black;
    font-size: 35px;


}

h4{
    color: white;
    font-size: 25px;


}

.hr3 {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
}
