p1{
    color: pink;
    font-size: 25px;
}

body{
    background: gray;
}


h1{
   font-size: 15;
   color: black;
}

h2{
   font-size: 5;
   color: black;
   font-style: italic;
}

h3{
   font-size: 10;
   color: white;
   font-style: italic;
   font-family: "Didot", serif;
}
