{% extends 'base.html' %}
{% block content %}

<html lang="en">
  <head>
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/me.jpg') }}" type="image/x-icon"/>
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Xochimilco.jpg')}})
      }

      h4 {
      text-align: center;
      font-size: 34px;
      color: white;
      background-color: black;
      }

      #video_one {

      text-align: center;
      }

      @import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

    </style>
  </head>

    <h4>Practice adjectives/Practicar adjetivos</h4>

        <center>

     <div class = "center">
<a href='https://www.sporcle.com/games/ryansviglione/los-adjetivos-fsicos'><button type="button" class="btn btn-primary">Physical adjectives game</button>

  <a href='https://www.sporcle.com/games/ryansviglione/los-adjetivos-de-la-personalidad'><button type="button" class="btn btn-secondary">Personality adjectives game</button>

        </center>

    <br/><br/>
      <center>

     <div class = "center">
       <iframe width="560"  id="video_one" height="315" src="https://www.youtube.com/embed/jmjcw120nms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

      <div class = "center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XwSJkVLQ1rQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
    </center>

  </a></a></html>

        <br/><br/>

{% endblock %}
