{% extends 'base.html' %}
{% block content %}

<html lang="en">
  <head>
      <link rel="image_src" href="/static/images/Ryan_Viglione_Website.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Xochimilco.jpg')}})
      }

      h4 {
      text-align: center;
      font-size: 34px;
      color: white;
      background-color: black;
      }

      #video_one {

      text-align: center;
      }

      @import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);

    </style>
  </head>

    <h4>Practice adjectives/Practicar adjetivos</h4>

        <center>

     <div class = "center">
<a href='https://www.sporcle.com/games/ryansviglione/los-adjetivos-fsicos'><button type="button" class="btn btn-primary">Physical adjectives game</button>

  <a href='https://www.sporcle.com/games/ryansviglione/los-adjetivos-de-la-personalidad'><button type="button" class="btn btn-secondary">Personality adjectives game</button>

        </center>

    <br/><br/>
      <center>

     <div class = "center">
       <iframe width="560"  id="video_one" height="315" src="https://www.youtube.com/embed/jmjcw120nms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

      <div class = "center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/XwSJkVLQ1rQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
    </center>

  </a></a></html>

  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="{{ url_for('verbos')}}">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Verbs/Verbos 🏃
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="{{ url_for('adjetivos')}}">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                        Adjetivos (adjectives) 📚
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="{{ url_for('sustantivos')}}">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Sustantivos (nouns) 🏘️
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="{{ url_for('Cultura')}}">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Cultura (culture) 🗺💃🏼🕺🏽
                        </span>
                    </a>

                </li>
                <li>
                    <a href="{{ url_for('diccionario')}}">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                        Diccionario (dictionary) 📙
                        </span>
                    </a>
                </li>
        </nav>
  </body>


        <br/><br/>

{% endblock %}
