{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/contact.css">

    <h4>My contact/Mi contacto</h4>

<html lang="en">
  <head>
      <link rel="image_src" href="/static/images/Ryan_Viglione_Website.jpg">
      <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Network.jpg')}})
      }
    </style>
  </head>

    <div class= "container">
      <h40>Hello, feel free to click the link below to send an email!</h40>

                    <br/><br/>

          <a href=mailto: id = "mail">ryansviglione@gmail.com (click link to open Microsoft Outlook)</a>

            <br/><br/>

            <br/><br/>

          <img src="static/images/Email.png" width="300">

          <br/><br/>

{% endblock %}
