{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<html lang="en">
  <head>
      <link rel="image_src" href="/static/images/Ryan_Viglione_Website.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Openbook.jpg')}})
      }
    </style>
  </head>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style_cultura.css">


<iframe width="560" height="315" src="https://www.youtube.com/embed/LroO1T5SBec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/QPvmmKXQAhs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/tCNjkavz67w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/gJhdlB4pMgw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<img src="https://chart.apis.google.com/chart?cht=map:fixed=-70,-180,80,180&chs=600x400&chf=bg,s,336699&chco=d0d0d0,cc0000,undefined&chd=s:999999999999999&chld=CO|AR|EC|PA|MX|PE|UY|US|AS|UM|GU|MP|PR|VI|IS" width="600" height="400"  alt="Map countries visited"><br/><h60>I have visited 9 countries in total. He visitado nueve países en total.</h60><br/></font><small><a target="_blank" title="Map countries visited" href="https://www.rjtravelagency.com/map-countries-visited/">Map countries visited</a></small>

</html>



{% endblock %}
