{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style_definition.css">

     <style>
    body
    {
     background-image:url("/static/images/Notebook.jpg");
     background-attachment: fixed;
     }
</style>

    <h42> inglés: </h42>
        <h43> español: </h43>

<br/><br>

<br/><br>

<br/><br>

<br/><br>

<h41>
{{ meaning_two }}
</h41>

<br/><br>

<br/><br>

<br/><br>

<br/><br>

<br/><br>

<br/><br>

<br/><br>


<h40>{{ word_two }}</h40>




<h34>Vigcionario 1.0</h34>


{% endblock %}
