{% extends 'base.html' %}
{% block content %}

  <head>
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Download.jpg')}})
      }
    </style>
  </head>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/downloadable_files.css">

<h1>Here are a few downloadable '.exe files' of my Tkinter projects:</h1>

<div class="col align-self-start">
      <a href="\static\palabras revueltas (verbos).exe">
         <img src="static/images/word_scramble_game.jpg" width="150">
       </a>
    </div>

<h33>This is a word scramble game GUI where the player has to unscramble the Spanish verbs.</h33>
        <br/><br/>
<div class="col align-self-start">
      <a href="\static\Ryan's calculator.exe">
         <img src="static/images/Ryan's_calculator.jpg" width="150">
       </a>
    </div>
<h33>This is a basic calculator GUI.</h33>
        <br/><br/>
<div class="col align-self-start">
      <a href="\static\Ryan currency converter.exe">
         <img src="static/images/Ryan's_currency_converter.jpg" width="150">
       </a>
    </div>
<h33>This is a basic currency converter GUI.</h33>
        <br/><br/>
<div class="col align-self-start">
      <a href="https://viggomode2021.github.io/VigSpanish1and2">
         <img src="static/images/Rpg_Maker.jpg" width="150">
       </a>
    </div>
<h33>This is a Spanish language game I created with RPG Maker MV. It is hosted on GitHub.io.</h33>
<br/><br/>
<h33>I will be updating this game when I can.</h33>

{% endblock %}
