<head>
    <meta charset="utf-8" />
    <title>EliteShell - News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/EliteShell.css') }}">
</head>
<body>

    <div class="container bar">
        <label class="floatLeft" for="navBtn"><span></span></label>
        <span class="floatRight paddingRight2rem">
            EliteShell - Desktop application to learn Windows, Windows Server, and PowerShell!
        </span>
    </div>
    <div class="container">
        <input type="checkbox" class="navBtn" id="navBtn" />
        <nav>
            <ul>
                <li>
                    <a href="{{url_for('EliteShell_README')}}"><i class="fa fa-book"></i>About/ReadME</a>
                </li>
                <li>
                    <a href="{{url_for('EliteShell_Pictures')}}"><i class="fa fa-image"></i>Pictures</a>
                </li>
                <li>
                    <a href="{{url_for('EliteShell_Videos')}}"><i class="fa fa-film"></i>Videos</a>
                </li>
                <li>
                    <a href="{{url_for('index')}}"><i class="fa fa-heart"></i>Ryan Viglione Homepage</a>
                </li>
                <li>
            </ul>
        </nav>
    </div>

    <center>
<h1>
    Coming Soon!
</h1>

<br>
    <img src="static/images/EliteShell-Icon.png" width="120">

    <br>

<a href="https://codepen.io/azer-hesim/pen/bPbjLj"></i>CodePen link for HTML/CSS</a>
        </center>
</body>
