{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class= "container">
        <h1>Error<h1>

            <head>
    <link rel="image_src" href="/static/images/Ryan_Viglione_Website.jpg">
     <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
</head>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ error_statement }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

    <br/><br/>

    <form action="/form" method="POST">
  <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo Electrónico"
     name ='email', value = "{{ email }}">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre"
     name ='first_name', value = "{{ first_name }}">
  </div>

  <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Apellido"
     name ='last_name', value = "{{ last_name }}">
  </div>


  <button type="submit" class="btn btn-secondary">Submit</button>
</form>
{% endblock %}

    <div>
