<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Viglione's Portfolio</title>
    <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="icon" href="{{ url_for('static', filename='images/me.jpg') }}" type="image/x-icon"/>
</head>

<body>
    <section class="animated-background">
        <div id="stars1"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </section>

    <a id="profilePicture" href="#popup">
        <img src="{{ url_for('static', filename='images/me.jpg') }}" alt="Profile Picture">
    </a>

    <div class="overlay" id="popup">
        <div class="popup">
            <div class="popup-photo">
                <a href="{{ url_for('static', filename='images/me.jpg') }}" target="_blank">
                </a>
            </div>
            <div class="popup-quote">
                {{ random_spanish_word }}
            </div>

            <a class="popup-close" onclick="history.back()">&times;</a>
        </div>
    </div>

    <div id="userName">

    </div>

    <center>
        <a href=mailto: id = "mail">Ryan Viglione</a>
    </center>

    <div id="links">

        <a class="link" href="https://www.linkedin.com/in/ryan-viglione/" target="_blank"><i
                class="fab fa-linkedin">&nbsp;</i>Linkedin</a>

        <a class="link" href="https://github.com/ViggoMode2021" target="_blank"><i
                class="fab fa-github">&nbsp;</i>Github</a>

      <a class="link" href="https://www.viglms.org/" target="_blank"><i
              class="fas fa-book">&nbsp;</i>Vig LMS</a>
              
      <a class="link" href="https://practicespanishbuyflights.com/" target="_blank"><i
              class="fas fa-book">&nbsp;</i>Practice Spanish, Buy Flights</a>

      <a class="link" href="https://awssolutionsarchitectrpg.ninja" target="_blank"><i
                class="fa fa-tv">&nbsp;</i>AWS Solutions Architect RPG</a>

        <a class="link" href="https://www.youtube.com/channel/UCUrpv2Zc0hvj9eMOvHS6kvw" target="_blank"><i
                class="fab fa-youtube">&nbsp;</i>YouTube</a>

        <a class="link" href="https://soundcloud.com/fortnightpenpal" target="_blank"><i
                class="fa fa-music">&nbsp;</i>Soundcloud</a>

        <a class="link" href="https://ryanviglione.bandcamp.com/" target="_blank"><i
                class="fa fa-music">&nbsp;</i>Bandcamp</a>
    </div>

<hr id = "divider" class="solid">

    <div id="links">

<a class="link" href="{{url_for('timeline')}}" target="_blank"><i
                class="fa fa-clock">&nbsp;</i>Timeline (Legacy)</a>

<a class="link" href="{{url_for('practice_Spanish')}}" target="_blank"><i
                class="fa fa-globe">&nbsp;</i>Practice Spanish (Legacy)</a>
 </div>

    <br>
     <center>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="bcb731db-e580-48ed-a5d0-cb315663952a" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
         </center>
    <br>
    <center>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="bcb731db-e580-48ed-a5d0-cb315663952a" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    </center>

</body>

</html>
