<!DOCTYPE html>
<html>
<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style_llenar_los_espacios.css">

<head>
  <title>Llenar los espacios - verbos</title>
</head>

<h1>Escribe los verbos conjugados en español abajo. &#128203;</h1>
<h3>Write the conjugated Spanish verbs below.</h3>

<h2>Escribe en minúsculas por favor. Write in lower case please.</h2>
          <hr class="rounded">

<p1>Hola, hoy (ser) lunes, el dos de noviembre. Yo (ir) a la escuela.</p1><p1> En la escuela, nosotros (estudiar) mucho.</p1>
<p1>El profesor de ciencias (hablar) sobre los planetas.</p1> <p1> Los estudiantes (leer) libros en la clase de inglés.</p1>
          <hr class="rounded">

<form action="/form_cuatro" method="POST">
  <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ser"
     name ='ser' style="width: 70px;">
  </div>
              <hr class="rounded">

    <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ir"
     name ='ir' style="width: 70px;">
                  <hr class="rounded">

         <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="estudiar"
     name ='estudiar' style="width: 120px;">
                       <hr class="rounded">

             <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="hablar"
     name ='hablar' style="width: 70px;">
                           <hr class="rounded">

                 <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="leer"
     name ='leer' style="width: 70px;">
                               <hr class="rounded">

    <button type="submit" class="btn btn-warning">Submit</button>
