{% extends 'base.html' %}
{% block title %}{{title_perfect}}{% endblock %}

{% block content %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style_hablo.css">

<html lang="en">
  <head>
            <link rel="image_src" href="/static/images/Ryan_Viglione_Website.jpg">
       <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Bolivia.jpg')}})
      }
    </style>
  </head>

  <h1>You got a perfect score! 5 out of 5 correct!</h1>

    <br/><br/>


<audio controls>
    <source src="\static\hablo.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

   <br/><br/>

      <form action="/form_tres" method="POST">
  <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" 'Yo hablo' is the correct answer (and yours). It means 'I talk'."
     name ='verb one' style="width: 400px;">
  </div>


{% endblock %}
