<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/powershell-projects.css') }}">
    <title>Ryan's PowerShell Projects</title>
    <meta name="viewport" content="width=device-width">

</head>
<body>
<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;"></span><br><span></span></div>
        <header>PowerShell Projects</header>
    </div>

    <div class="subhead">Some of many intricate, dynamic, and life-saving PowerShell scripts created by Ryan Viglione</div>
</div>
<div class="content">
    <div class="collumns">
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/SetUp-AD.ps1"><span class="headline hl3">Set up AD, OUs, and add users from CSV</span><p><span class="headline hl4"></span></a></p></div>
            This script creates 21 organizational units in an Active Directory environment, then pulls dummy csv files (fake names) with the headers 'first_name' and 'last_name' off of my PowerShell_Scripts GitHub repository.
            It will then create a default password for each user that will consist of the domain name and the enrollment date. As OUs and Users are being created, there will be a message stating that the OU or User has been created and
            added to Active Directory. This script expedites the Active Directory setup process by parsing and adding users via CSV files and PowerShell, instead of manually. This script can be adjusted based on your organization's needs. I highly
            recommend creating your own secure algorithm for password creation and to store your csv files in a secure place. This script can be used, but should be modified accordingly.</p></div>
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/active-directory.ps1"><span class="headline hl1">Add student or staff account to AD</span><p><span class="headline hl4"></span></a></p></div>
           </p>

            <p>With this script, the admin can create either a student or staff account and have them added to the proper organizational unit, as well as creating them a default password, setting their home directory, and mapping their network
            drive.</p>

            </div>
        <div class="collumn"><div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/MoveOUsV2.ps1"><span class="headline hl1">Move OUs at end of school year</span><p><span class="headline hl3"></span></a></p></div>
	<figure class="figure">

        <p>In a school themed (K-12) Active Directory environment, the graduating class' child OU of the parent 'High_School_Top_OU ' OU will get archived (moved to an OU named 'Graduated_Classes', and will create this OU if it doesn't exist), the 8th grade OU will get moved to the High-School OU,
            the 4th grade child OU of the 'Elementary_School_Top_OU' will be moved to the Middle-School OU, and a new OU for the incoming elementary school class. Before the script moves these OUs accordingly, it makes sure that this script is run AFTER July 1st of the current year,
            in order to assure that the school year has properly ended and changes to the AD environment can be made. It also will dynamically, create the incoming OU's graduating class by adding 12 to the current year. For example, the incoming class to a new
            school will be titled 'Class_Of_2035' if the script is run in 2023 after July 1st.
        </p>

            <p><span class="citation"></span></p>
            <p></p>
        </div>
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/Disable-and-Enable-AD-Users.ps1"><span class="headline hl1">Enable or disable inactive users (GUI/.Net)</span><p><span class="headline hl3"></span></a></p></div>

					<p>This script will find users in Active Directory who have NEVER logged in and then allow the admin to either disable an individual user, or disable all the users who have never logged in for a given OU. The admin can also enable the users that were disabled as well.
                    This script has a GUI that was created with WinForms (.NET).</p></div>

            <p><span class="citation"></span></p>
            <p></p>
        </div>
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/AD-Password-Generator.ps1"><span class="headline hl1">Active Directory Password Generator</span><p><span class="headline hl4"></span></a></p></div>

            <p>This script will generate a password for a user based on a theme, such as 'Animals', 'Food', etc. and then will</p></div>
    </div>
</div>

</body>
</html>