<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/powershell-projects.css') }}">
    <title>Ryan's PowerShell Projects</title>
    <meta name="viewport" content="width=device-width">

</head>
<body>
<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;">Weatherforcast for the next 24 hours: Plenty of Sunshine</span><br><span>Wind: 7km/h SSE; Ther: 21°C; Hum: 82%</span></div>
        <header>PowerShell Projects</header>
    </div>

    <div class="subhead">Westbrook, CT & New London, CT</div>
</div>
<div class="content">
    <div class="collumns">
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/SetUp-AD.ps1"><span class="headline hl3">Set up AD, OUs, and add users from CSV</span><p><span class="headline hl4"></span></a></p></div>
            This script is </p></div>
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/active-directory.ps1"><span class="headline hl1">Add student or staff account to AD</span><p><span class="headline hl4"></span></a></p></div>
           </p>

            <p></p>

            </div>
        <div class="collumn"><div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/MoveOUsV2.ps1"><span class="headline hl1">Move OUs at end of school year</span><p><span class="headline hl3"></span></a></p></div>
	<figure class="figure">

            <p><span class="citation"></span></p>
            <p></p></div>
        <div class="collumn"><div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/Disable-and-Enable-AD-Users.ps1"><span class="headline hl1">Enable or disable inactive users (GUI/.Net)</span><p><span class="headline hl3"></span></a></p></div>
        <div class="collumn"><div class="head"><span class="headline hl1">It wasn't a dream </span><p><span class="headline hl4">by FRANZ KAFKA</span></p></div><p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. </p>

					<p>His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. </p></div>
    </div>
</div>

</body>
</html>