<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/powershell-projects.css') }}">
    <title>Ryan's PowerShell Projects</title>
    <meta name="viewport" content="width=device-width">
     <link rel="icon" href="{{ url_for('static', filename='images/me.jpg') }}" type="image/x-icon"/>
</head>

<body>
<div class="head">
    <div class="headerobjectswrapper">
        <div class="weatherforcastbox"><span style="font-style: italic;"></span><br><span></span></div>
        <header>PowerShell Projects</header>
    </div>

    <div class="subhead">Some of many intricate, dynamic, and life-saving PowerShell scripts created by Ryan Viglione</div>
</div>
<div class="content">
    <div class="collumns">
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/SetUp-AD.ps1"><span class="headline hl3">Set up AD, OUs, and add users from CSV</span><p><span class="headline hl4"></span></a></p></div>
            This script creates 21 organizational units in an Active Directory environment, then pulls dummy csv files (fake names) with the headers 'first_name' and 'last_name' off of my PowerShell_Scripts GitHub repository.
            It will then create a default password for each user that will consist of the domain name and the enrollment date. As OUs and Users are being created, there will be a message stating that the OU or User has been created and
            added to Active Directory. This script expedites the Active Directory setup process by parsing and adding users via CSV files and PowerShell, instead of manually. This script can be adjusted based on your organization's needs. I highly
            recommend creating your own secure algorithm for password creation and to store your csv files in a secure place. This script can be used, but should be modified accordingly.</p></div>
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/active-directory.ps1"><span class="headline hl1">Add student or staff account to AD</span><p><span class="headline hl4"></span></a></p></div>
           </p>

            <p>With this script, the admin can create either a student or staff account and have them added to the proper organizational unit,
                as well as creating them a default password, setting their home directory, and mapping their network drive.</p>

            </div>
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/MoveOUsV2.ps1"><span class="headline hl1">Move OUs at end of school year</span><p><span class="headline hl3"></span></a></p></div></p>
        <span class="citation"></span>

        <p>In a school themed (K-12) Active Directory environment, the graduating class' child OU of the parent 'High_School_Top_OU ' OU will get archived (moved to an OU named 'Graduated_Classes', and will create this OU if it doesn't exist), the 8th grade OU will get moved to the High-School OU,
            the 4th grade child OU of the 'Elementary_School_Top_OU' will be moved to the Middle-School OU, and a new OU for the incoming elementary school class. Before the script moves these OUs accordingly, it makes sure that this script is run AFTER July 1st of the current year,
            in order to assure that the school year has properly ended and changes to the AD environment can be made. It also will dynamically, create the incoming OU's graduating class by adding 12 to the current year. For example, the incoming class to a new
            school will be titled 'Class_Of_2035' if the script is run in 2023 after July 1st.
        </p>

        </div>
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/Disable-and-Enable-AD-Users.ps1"><span class="headline hl1">Enable or disable inactive users (GUI/.Net)</span><p><span class="headline hl3"></span></a></p></div>
        <p><span class="citation"></span></p>
					<p>This script will find users in Active Directory who have NEVER logged in and then allow the admin to either disable an individual user, or disable all the users who have never logged in for a given OU. The admin can also enable the users that were disabled as well.
                    This script has a GUI that was created with WinForms (.NET).</p></div>

<div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/AD-Password-Generator.ps1"><span class="headline hl1">Active Directory Password Generator</span><p><span class="headline hl4"></span></a></p></div>

            <p>This script will generate a password for a user based on a csv file that they have. The admin will select a csv file on their local computer, select a user, and
            then click the 'Generate Password' button. It will display the password for the new user in plaintext and allow it to be copied to the clipboard. If the password does not meet the complexity of the domain,
            the script will append numbers and/or special characters in order to create an adequate password. This script also has a GUI that was created with WinForms (.NET).</p></div>

        </div>

    <!-- Second Row -->
    <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/PowerShellScripts/blob/main/War_Room_Scripts/TimeSheet-Automator.ps1"><span class="headline hl3">Timesheet Automator</span><p><span class="headline hl4"></span></a></p></div>
            This script automates and replicates the process of creating a new timesheet every Monday and logging the user's clock in time when the script is run. It automatically calculates the hours worked by subtracting 30 minutes (lunch break)
        from the difference between the clock in time to the standard clock out time of 5:00 PM. The script copies a standard template of a timesheet (Word document) at the start of the week and names it "TimeSheet-Week-Of-7-17-2023" or whatever date.
        It runs the same way for Tuesday-Thursday. On Friday, it calculates the week's total hours worked by adding up the number of hours worked each day. It then prints out the timesheet.</p></div>
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/Network-Necromancer"><span class="headline hl1">Network-Necromancer</span><p><span class="headline hl4"></span></a></p></div>
           </p>

            <p>Network Necromancer is a PowerShell script that automates adding, removing, and connecting to networks by implementing variations of 'netsh wlan show profiles' in the backend.
                This script will easily clean up networks stored on a computer's NIC, export and import network based XML files, and more.
                For example, a user can utilize this script to move the networks stored on one computer onto another computer without manually connecting to networks and inputting passwords.</p>

            </div>
        <div class="collumn">
            <div class="head"><a href="https://github.com/ViggoMode2021/Partition-Pantheon"><span class="headline hl1">Partition Pantheon</span><p><span class="headline hl3"></span></a></p></div></p>
        <span class="citation"></span>

        <p>Partition-Pantheon is a flash drive/harddrive partitioning automation script that will seamlessly automate the process of formatting, naming, setting letters, and allocating size to partitions. It will also move files to partitions based on file extensions.
        </p>

        </div>

</body>
</html>
