{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/practice_spanish.css">

          <html lang="en">
  <head>
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/me.jpg') }}" type="image/x-icon"/>
  </head>

  <div id = "page_title">
    <h1>Practice Spanish/Practicar español</h1>
    </div>

<div id = "compliment_text">
    <h2>¡Hola!</h2>
              <img src="static/images/Paraguay.jpg" width="120">
            <br/><br/>
    <h3>Responde a la pregunta abajo para recibir un cumplido gratis en español.</h3><br><br>
    <h3>Respond to the question below to receive a free compliment in Spanish.</h3>
            <br/><br/>

    <form action="/greet">
        <label>¿Cómo te llamas? Me llamo
            <input type="text" name="person"></label>
        <button class="custom-btn btn-5"><span>Haz clic</span></button>
    </form>

  </div>

            <h4>Study</h4>

  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="{{ url_for('verbos')}}">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Verbs/Verbos 🏃
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="{{ url_for('adjetivos')}}">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                        Adjetivos (adjectives) 📚
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="{{ url_for('sustantivos')}}">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Sustantivos (nouns) 🏘️
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="{{ url_for('Cultura')}}">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Cultura (culture) 🗺💃🏼🕺🏽
                        </span>
                    </a>

                </li>
                <li>
                    <a href="{{ url_for('diccionario')}}">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                        Diccionario (dictionary) 📙
                        </span>
                    </a>
                </li>
        </nav>
  </body>
          </html>

</body>

<center>
<h46><a id = "link" href="https://www.geeksforgeeks.org/using-matplotlib-for-animations/">Link to how I learned how to make the graph below.</a></h46>
        <br/><br/>
          <IMG SRC="/static/images/languages.gif">
</center>

        <a href="{{ url_for('index')}}"id ="home">Go home</a>

{% endblock %}
