{% extends 'base.html' %}
{% block title %}{{title_perfect}}{% endblock %}

{% block content %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style_hablo.css">

<html lang="en">
  <head>
            <link rel="image_src" href="/static/images/Ryan_Viglione_Website.jpg">
       <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Bolivia.jpg')}})
      }
    </style>
  </head>

  <h1>Answer the fields with the correct English or Spanish translation of the phrases. Please note that this site is under construction.</h1>
  <h11>Please type all answers in lower-case and make sure your spelling is correct! Thank you!</h11>
    <br/><br/>

<audio controls>
    <source src="\static\songs\uno_escuchar.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

   <br/><br/>

      <form action="/form_tres" method="POST">
  <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Write Spanish here."
     name ='vb_one' style="width: 200px;">
  </div>

    <br/><br/>

<audio controls>
    <source src="\static\songs\dos_escuchar.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

                <form action="/form_tres" method="POST">
  <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Write Spanish here."
     name ='vb_two' style="width: 200px;">
  </div>


   <br/><br/>

              <br/><br/>


<audio controls>
    <source src="\static\songs\tres_escuchar.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

   <br/><br/>


      <form action="/form_tres" method="POST">
  <div class="form-group">
     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Write Spanish here."
     name ='vb_three' style="width: 200px;">
  </div>


          <button type="submit" class="btn btn-secondary">Submit</button>


{% endblock %}
