{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<html lang="en">
  <head>
            <link rel="image_src" href="/static/images/Ryan_Viglione_Website.jpg">
       <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Buenos Aires.jpg')}})
      }
    </style>
  </head>

</html>

<a href='https://www.sporcle.com/games/ryansviglione/days-of-the-week-los-das-de-la-semana'><button type="button" class="btn btn-primary">Days of the week game</button>

<a href='https://www.sporcle.com/games/ryansviglione/la-ropa-los-colores-los-materiales-los-nmeros'><button type="button" class="btn btn-secondary">Colors, clothes, materials game</button>

  <a href='https://www.sporcle.com/games/ryansviglione/comotepreparasvocabulary'><button type="button" class="btn btn-success">Hygiene products vocabulary game</button>

    <a href='https://www.sporcle.com/games/ryansviglione/saludos-y-despedidas-greetings-and-farewells'><button type="button" class="btn btn-danger">Greetings and farewells game</button>

          <br/><br/>

      <a href='https://www.sporcle.com/games/ryansviglione/numbers'><button type="button" class="btn btn-warning">Numbers game</button>

          <a href='https://www.sporcle.com/games/ryansviglione/spanish-question-words-palabras-interrogativas-1'><button type="button" class="btn btn-info">Question words game</button>

              <a href='https://www.sporcle.com/games/ryansviglione/la-comida-el-desayuno-y-el-almuerzo'><button type="button" class="btn btn-success">Breakfast and lunch game</button>

          <br/><br/>

          <br/><br/>

                  <iframe width="560" height="315" src="https://www.youtube.com/embed/xBkl3ElID8w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/BPMEcWE0u78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                            <br/><br/>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/jPZsciVNHKM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/zAuL44HhFsk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>{% endblock %}
