{% extends 'base.html' %}
{% block content %}

<html lang="en">
  <head>
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/me.jpg') }}" type="image/x-icon"/>
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Cajas.jpg')}})
      }

      h4 {
      text-align: center;
      font-size: 34px;
      color: white;
      background-color: black;
      }
    </style>
  </head>

  <h4>Practice verbs/Practicar verbos</h4>
<br/>
        <center>

<a href='https://www.sporcle.com/games/ryansviglione/los-pasatiemposverbos-hobbiesverbs'><button type="button" class="btn btn-primary">Hobbies and activities game</button>

  <a href='https://www.sporcle.com/games/ryansviglione/ser-vs-estar-practice-quiz'><button type="button" class="btn btn-warning">Ser vs estar game</button>

        </center>

        <br/>

        <center>

<iframe width="560" height="315" src="https://www.youtube.com/embed/uKCJ1eNeWcM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</html>

        <br/><br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/IIy-LP4L22U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>

{% endblock %}
