{% extends 'base.html' %}
{% block content %}

<html lang="en">
  <head>
            <link rel="image_src" href="/static/images/Ryan_Viglione_Website.jpg">
       <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/apple-touch-icon.png">
<link rel="manifest" href="/site.webmanifest">
    <style>
      body
      {
      background-image:url({{url_for('static', filename='images/Cajas.jpg')}})
      }
    </style>
  </head>

<a href='https://www.sporcle.com/games/ryansviglione/los-pasatiemposverbos-hobbiesverbs'><button type="button" class="btn btn-primary">Hobbies and activities game</button>

  <a href='https://www.sporcle.com/games/ryansviglione/ser-vs-estar-practice-quiz'><button type="button" class="btn btn-warning">Ser vs estar game</button>

        <br/><br/>

        <br/><br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/uKCJ1eNeWcM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</html>

        <br/><br/>

<iframe width="560" height="315" src="https://www.youtube.com/embed/IIy-LP4L22U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}
